.main-title{
    text-align:center;
    font-size:48px;
    font-weight:bold;
}

.subtitle{
    text-align:center;
    font-size:22px;
    color:#cccccc;
}

.logo-box{
    text-align:center;
    font-size:80px;
    margin-top:20px;
    margin-bottom:20px;
}

.card{
    padding:15px;
    border:1px solid #2e2e2e;
    border-radius:15px;
    background:#111827;
}